
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Baloo 2', cursive;
}

#horizontal-line{
    width: 250px;
}
button{
    background-color: whitesmoke;
    border: 2px solid gray;
    
}

.btn-design, #cupon-apply-btn{
    border-radius: 6px;
}
.btn-design:hover{
    /* border-radius: 6px; */
    background-color: gray;
    color: white;
}

#cupon-apply-btn{
    background-color: red;
    color: white;
    font-weight: 500;

}