/* ========================================
                Font Baloo 2 
=========================================*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
*{
    font-family: 'Baloo 2', cursive;
}


/* ========================================
            Button Design 
=========================================*/
button{
    background-color: whitesmoke;
    border: 2px solid gray;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-design, #cupon-apply-btn{
    border-radius: 6px;
}
.btn-design:hover{
    /* border-radius: 6px; */
    background-color: rgb(56, 53, 53);
    color: white;
}

#cupon-apply-btn{
    background-color: red;
    border: 3px solid rgb(212, 118, 118);
    color: white;
    font-weight: 500;
}


/* ========================================
                Utilites
=========================================*/
#horizontal-line{
    width: 250px;
}